@model List<DetailingStudio_v2.Models.InstagramSampleModels.InstagramPicture>;

@{
    ViewData["Title"] = "Gallery";
    int rowcount = 3;
}

<div class="container">
    <h1>Gallery</h1>
    @*    @for (int i = 0; i < Model.Count();)
        {

            <div class="row">
                @for (int j = 0; j < rowcount; j++)
                {
                    if (i + j > Model.Count())
                    {
                        break;
                    }
                    else
                    {
                        <div class="column">
                            <img id="@i" src="@Model[i].media_url" onclick="reply_click(this.id)" style="width:100%">
                        </div>
                        i++;
                    }

                }
            </div>
        }*@
<div itemscope itemtype="https://schema.org/ImageObject">
    <h2 itemprop="name">Super car</h2>
    <img src="https://cdntest.db.lv/lvold/735/2019/articles/2019/09/490809__5d76172af3952.jpg"
         alt="Sunny, sandy beach."
         itemprop="contentUrl" />
    By <span itemprop="author">Da vinci</span>
    Photographed in
    <span itemprop="contentLocation">Capital of Latvia, Riga</span>
    Date uploaded:
    <meta itemprop="datePublished" content="2018-01-25">Jan 25, 2018
    <span itemprop="description">I took this picture of this cool car. I love it</span>
</div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
    </div>
</div>

<script>
function reply_click(clicked_id) {
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById(clicked_id);
    var modalImg = document.getElementById("modalImage");

    // Assign values to modal
    modal.style.display = "block";
    modalImg.src = img.src;

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
    modal.style.display = "none";
    }
}
</script>