body {
  background-color: black;
  color: white;
}
div {
  color: white;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
nav {
  background-color: black;
}
.background-color-black {
  position: relative;
  height: 768px;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
}
.background-image-bmw {
  background-position: 0 -150px;
  position: absolute;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1563826773-1e2b4b2cde42?ixlib=rb-1.2.1&w=1000&q=80);
  height: 100%;
  width: 100%;
}
.button-red-border {
  width: 200px;
  height: 55px;
  background-color: black;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;
  border: 3px solid red;
}
.pb-200 {
  padding-bottom: 200px;
}
.pb-75 {
  padding-bottom: 75px;
}
.pb-50 {
  padding-bottom: 50px;
}
.mb-100 {
  margin-bottom: 100px;
}
.h-400 {
  height: 400px;
}
.h-768 {
  height: 768px;
}
.border-radius-50 {
  border-radius: 50%;
}
li {
  float: right;
  font-weight: bold;
}
.input-field {
  width: 400px;
  height: 35px;
}
.submit-button {
  width: 400px;
  height: 45px;
}
.optional-message {
  width: 400px;
  height: 100px;
}