@model DetailingStudio_v2.Models.Affiliate; 
@{
    ViewData["Title"] = "Home Page";
}

<div class="background-color-black">
    <div class="background-image-bmw">
        <div class="position-absolute w-100 h-75 row">
            <div class="my-auto text-center position-relative">
                <h4 class="text-white">Modern equipment</h4>
                <h2 class="text-white">Premium Detailing</h2>
                <div class="w-50 m-auto text-white pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <a href="home#About" class="button-red-border mr-3 btn d-inline-block ">Read More ></a>
                <a class="button-red-border ml-3 btn d-inline-block" asp-area="" asp-controller="Orders" asp-action="Create">Order Now ></a>
            </div>
        </div>
    </div>
</div>
<div class="row h-768 w-100 pb-200">
    <div class="col-7">
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bugatti-chiron-pur-sport-106-1582836604.jpg" style="width:100%">
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="https://static-ssl.businessinsider.com/image/5d9b5bff52887931e8497a36-1405/141222twnmustang.jpg" style="width:100%">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="https://www.gieldaklasykow.pl/wp-content/uploads/2020/06/bmw-530d-e39-02.jpg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <div class="col-5 text-white text-center row">
        <div class="w-75 m-auto">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod. Placerat orci nulla pellentesque dignissim enim sit amet. Dolor sed viverra ipsum nunc aliquet bibendum enim. Facilisis sed odio morbi quis. Morbi quis commodo odio aenean sed adipiscing diam donec. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Donec enim diam vulputate ut pharetra sit amet aliquam id. Quisque non tellus orci ac auctor augue mauris. In mollis nunc sed id semper. Elementum nibh tellus molestie nunc non blandit massa enim nec. Neque gravida in fermentum et sollicitudin ac orci phasellus egestas. Et netus et malesuada fames. Leo urna molestie at elementum eu facilisis sed. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Aliquam etiam erat velit scelerisque in dictum non consectetur.
            </p>
        </div>
    </div>
</div>
<div class="m-auto container row pb-75" id="About">
    <div class="col text-center">
        <img class="border-radius-50 zoom-in" src="https://www.tmacs-autodetailing.com/wp-content/uploads/2020/06/dodge-600x600.png" />
        <h1 class="pt-3">Gallery</h1>
    </div>
    <div class="col text-center">
        <img class="border-radius-50 zoom-in" src="https://www.tmacs-autodetailing.com/wp-content/uploads/2020/06/rr-600x600.png" />
        <h1 class="pt-3">Packages</h1>
    </div>
    <div class="col text-center">
        <img class="border-radius-50 zoom-in" src="https://www.tmacs-autodetailing.com/wp-content/uploads/2020/06/polish-600x600.png" />
        <h1 class="pt-3">Products</h1>
    </div>
</div>
<div class="container pb-50">
    <h2>
        So what exactly is detailing?
    </h2>
    <p>
        Detailing is an art-form, a passion, a creative outlet so to speak. It’s not for everyone as it requires a lot of time and practice to really do it well. It’s not just throwing some soap in a bucket and wiping the car down real quick. It’s much more than that. It’s making sure that the car is washed and dried properly to avoid damage to the car’s surface, wiping all panels in one direction to minimize those horrible ‘swirls’ that are so common on most people’s cars. It’s making sure that every nook and cranny has been cleaned to keep the car looking pristine which will not only add life to the car but also value to the car if it is to be sold or traded in. A clean car makes not only the ‘detailer’ feel good, but also the owner. Be the envy of everyone on your block and get your car looking MACnificent today!
    </p>
</div>
<div class="container row text-center mb-5 mx-auto" style="height: 70px; border-bottom: solid 5px darkred; border-top: solid 5px darkred">
    <p class="col my-auto">Adress 1</p>
    <p class="col my-auto">Adress 2</p>
    <p class="col my-auto">Adress 3</p>
    <p class="col my-auto">Adress 4</p>
</div>
<div class="container h-400 mb-100">
    <div class="row h-100">
        <div class="col-7">
            <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.677061053699!2d-95.9017482853362!3d36.101359514424416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b692a0b10166cf%3A0x6db2fb9d8d981211!2s4142%20S%2070th%20E%20Ave%2C%20Tulsa%2C%20OK%2074145!5e0!3m2!1sen!2sus!4v1587777776626!5m2!1sen!2sus"></iframe>
        </div>
        <div class="col-5">
            <p>
                T-Mac’s Auto Detailing delights in serving Tulsa and surrounding area’s (Owasso, Broken Arrow, and etc.).
            </p>
            <p>
                We Look Forward To Meeting All Your Cleaning & Detail Needs!!!
            </p>
            <a class="button-red-border">Schedule An Appointment ></a>
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>