@using DetailingStudio_v2.Enums;
@using DetailingStudio_v2.Models;
@model DetailingStudio_v2.Models.Order

@{
    ViewData["Title"] = "Create";
    List<Service> services = ViewBag.services;
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole(nameof(UserRoleEnum.Administrator)))
            {
                <div class="form-group">
                    <label asp-for="OrderPaymentStatus" class="control-label"></label>
                    <select asp-for="OrderPaymentStatus" asp-items="Html.GetEnumSelectList<OrderPaymentStatus>()" class="form-control">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                    <span asp-validation-for="OrderPaymentStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderStatus" class="control-label"></label>
                    <select asp-for="OrderStatus" asp-items="Html.GetEnumSelectList<OrderStatus>()" class="form-control">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                    <span asp-validation-for="OrderStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerID" class="control-label"></label>
                    <input asp-for="CustomerID" class="form-control" />
                    <span asp-validation-for="CustomerID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPrice" class="control-label"></label>
                    <input asp-for="TotalPrice" class="form-control" />
                    <span asp-validation-for="TotalPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrderEndTime" class="control-label"></label>
                    <input asp-for="OrderEndTime" class="form-control" />
                    <span asp-validation-for="OrderEndTime" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="OrderDetails" class="control-label"></label>
                <input asp-for="OrderDetails" class="form-control" />
                <span asp-validation-for="OrderDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarBodyType" class="control-label"></label>
                <select asp-for="CarBodyType" asp-items="Html.GetEnumSelectList<CarBodyType>()" class="form-control">
                    <option disabled selected>--- SELECT ---</option>
                </select>
                <span asp-validation-for="CarBodyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStartTime" class="control-label"></label>
                <input asp-for="OrderStartTime" class="form-control" />
                <span asp-validation-for="OrderStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceIds" class="control-label"></label>
                <select asp-for="ServiceIds" asp-items="@(new SelectList(ViewBag.services,"Id","Title"))" multiple="multiple">
                    <option>Please select one or more</option>
                </select>
                <span asp-validation-for="ServiceIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AffiliateId" class="control-label"></label>
                <select asp-for="AffiliateId" asp-items="@(new SelectList(ViewBag.affiliates,"Id","StreetAdress"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="AffiliateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
